<div class="list-group list-group-flush">
    <a href="/admin/dashboard" class="list-group-item list-group-item-action <%= (activePage === 'dashboard') ? 'active' : '' %>">Dashboard</a>
    <a href="/admin/users" class="list-group-item list-group-item-action <%= (activePage === 'users') ? 'active' : '' %>">Users</a>
    <a href="/admin/movies" class="list-group-item list-group-item-action <%= (activePage === 'movies') ? 'active' : '' %>">Movies</a>
    <a href="/admin/series" class="list-group-item list-group-item-action <%= (activePage === 'series') ? 'active' : '' %>">Series</a>
    <a href="/admin/transactions" class="list-group-item list-group-item-action <%= (activePage === 'transactions') ? 'active' : '' %>">Transactions</a>
    <a href="/admin/settings" class="list-group-item list-group-item-action <%= (activePage === 'settings') ? 'active' : '' %>">Settings</a>
    <a href="/admin/files" class="list-group-item list-group-item-action <%= (activePage === 'files') ? 'active' : '' %>">Files</a>
</div>
